html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #000000;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 28px;
}

#panel {
    color: black;
    border: 10px solid white;
    background-color: #499EFB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 500px;
}
.naslov {
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex: 0 1 100px;
}

.forma {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 0 1 200px;
}

.divDugmici {
    display: flex; 
    justify-content: center; 
    align-items: center;
    flex: 0 1 100px;
} 

.formaUnos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.loginButton {
    font-size: inherit;
}

.poljeUnos {
    font-size: inherit;
    flex: 0 1 150px;
}